form {
  padding-top: 10%;
  background-color: #fff;
}


input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration:none;
}

.button:hover {
    opacity: 0.8;
}

.buttonsins {
    background-color: #0449af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 91.5%;
    text-decoration:none;
}

.buttonsins:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.container {
    width: 30%;
    margin-left: 35%;
}
span.psw {
    float: right;
    padding-top: 16px;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
