@charset "UTF-8";

body {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #c3c3c3;
  font-size: 120%;
  border-right: 1px solid #c3c3c3;
  display: inline-block;
  height: 100%;
  text-align: center;
  line-height: 300%;
  padding: 0 2% 0 2%;
}

a:hover {
  color: #95350c;
}

.Menu {
  position: absolute;
  margin-left: 60%;
  height: 100%;
  width: 100%;
}

.header__icon:hover {
  color: #95350c;
  border-bottom: 2px solid #95350c;
  background-color: black;
}

.header {
  background-color: #454e67;
  position: fixed;
  width: 100%;
}

.header h2 {
  color: #f55c0e;
  float: left;
  position: relative;
  font-size: 150%;
  padding-right: 50%;
  margin-left: 4%;
}

.header__icon {
  display: none;
}

.Menu li {
  list-style: none;
}
#Menu ul {
  visibility: hidden;
}

#Menu .langues:hover ul {
  visibility: visible;
}

@media only screen and (max-width: 750px) {
  .header {
    background-color: #454e67;
    position: absolute;
    position: fixed;
  }
  .header__icon {
    display: block;
    margin-left: 90%;
    margin-top: 1.5%;
    font-size: 25px;
    border: none !important;
    background-color: #454e67 !important;
  }
  .Menu {
    position: absolute;
    background-color: #3f475e;
    width: 30%;
    height: 1000px;
    margin-left: 70%;
    transform: translateX(100%);

  }
  a {
    display: block;
    text-align: center;
    line-height: 200%;
    border-bottom: 1px solid #454e67;
    border-right: none;
    float: none;
    height: 4%;
  }
  a:hover {
    border-bottom: 1px solid #95350c;
  }

  .menusidebar {
    transform: translateX(-100%);
  }

  .Menu.is-open {
    transform: translateX(0%);
    transition: 0.5s;
  }
}
